<!DOCTYPE html>
<html>
<head>
    <title>Чат для флудения</title>
</head>
<body>
    <h1>Чат для флудения</h1>
    <h2 id="username">Привет, {{ username }}!</h2>
    <button type="button" onclick="connectToChat()">Подключиться</button>
    <div id="chatbox" style="border: 1px solid #ccc; width: 300px; height: 200px; overflow-y: scroll;"></div>
    <form>
        <input type="text" id="message" required>
        <button type="button" onclick="sendMessage()">Отправить</button>
    </form>

    <script>
        let socket;
        let username;
        const chatbox = document.getElementById("chatbox");

        const getCookie = (cookie_name) => {
                const value = `; ${document.cookie}`;
                const parts = value.split(`; ${cookie_name}=`);
                if (parts.length === 2) return parts.pop().split(';').shift();
            }

        function connectToChat() {
            username = document.getElementById("username").value;
            let chat_cookie = getCookie("access_token")
            if (username) {
                socket = new WebSocket(`ws://localhost:8000/chat/start_chat?chat_token=${chat_cookie}`);
                socket.onmessage = function(event) {
                    chatbox.innerHTML += event.data + "<br>";
                    chatbox.scrollTop = chatbox.scrollHeight;
                };
            }
        }

        function sendMessage() {
            const message = document.getElementById("message").value;
            if (socket && message) {
                socket.send(message);
                document.getElementById("message").value = "";
            }
        }

<!--        document.addEventListener("DOMContentLoaded", function(){-->
<!--Fun1();-->
<!--Func2();-->

<!--}); -->


<!--       -->
<!--         window.addEventListener('load', () => {-->
<!--      alert('Страница загружена!');-->
<!--    });-->

    </script>
</body>
</html>